body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, main, footer {
    width: 1280px;
    margin: 0 auto;
}

header {
    text-align: left;
    padding: 20px 0;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-family: Roboto;
    line-height: 93.75px;
}
.highlight {
    color: #4BCAFF; 
}
.side-menu {
    width: 344px;
    height: 399px;
    border: 1px solid black;
    color: black;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {

    height: 81px;
    display: flex;
}
.side-menu li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
    font-size: 27px;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.menu-item-side {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
    font-size: 27px;
    font-family: Roboto;

    width: 100%;
}
.menu-item-side:hover {
    color: black;
    background-color: #DBDBDB; 
}
header .top-menu li:hover {
    background-color: #222F3A;
}


.top-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    height: 69px;
    color: white;
    top: 119px;
    left: 2px;
}

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;


}

.top-menu li {
    display: inline-block;
    position: relative;
    justify-content: center;
    line-height: 69px; 
    vertical-align: middle; 
    border-right: 1px solid #ccc;
}

.top-menu li:last-child {
    border-right: 1px solid #ccc;
}
.top-menu li:first-child {
    border-left: 1px solid #ccc;
}


.top-menu li a {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    justify-content: center;
}

.top-menu li:hover a {
    background-color: #222F3A;
}

.top-menu li a:hover {
    background-color: #222F3A;
}




.bottom-menu {
    display: flex;
    background-color: #63696E7A;
    color: black;
justify-content: space-between;
align-items: center;
}

.menu-item {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.menu-item-bottom {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
    font-size: 24px;
    margin: 0 10px;
}

main {
    position: relative;
    display: flex;
}

.text-container {
    flex: 1;
    padding: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    height: 28px;
    color: black;
    top: 20px;
    left: 40px;
    color: black;
    font-size: 28px;
    font-family: Roboto;
}


footer nav ul li {
    height: 28px;
    color: black;
    top: 20px;
    left: 40px;
    color: black;
    font-size: 28px;
    font-family: Roboto;
}

.content-container {
    height: 832px;
    width: 885px;
    margin: auto;
    color: black;
    font-size: 18px;
    font-family: Roboto;
    line-height: 24px;
}

.image-container {
    position: relative;
    height: 529px;
    border: 1px solid black;
}

.image {
    max-width: 100%;
    transition: transform 0.3s ease;
    display: block;
    margin: 75px auto 0;
}

.image:hover {
    transform: scale(1.1);
}

header .menu-item:hover {
    background-color: #222F3A;
    color: white;
}



footer .menu-item-bottom:hover {
    color: blue;
    text-decoration: underline;
}

.footer-text {
    height: 28px;
    padding-right:40px;
    color: black;
    top: 20px;
    left: 40px;
    color: black;
    font-size: 28px;
    font-family: Roboto;
}
