body {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-right: 75px;
    margin-left: 25px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Open Sans;
    font-size: 16px;
}

.main-menu li {
    margin: 0 20px;
}

.main-menu li a {
    color: #333;
    text-decoration: none;
}

.icons-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.icons-menu li {
    margin-left: 20px;
}

.icons-menu li a {
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-icon {
    background-image: url("img/search.svg");
}

.cart-icon {
    background-image: url("img/shopping--cart.svg");
}

.profile-icon {
    background-image: url("img/user--avatar.svg");
}

.filters {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-family: Montserrat;

}
.filters h1 {
	font-weight: normal;
}
.filter-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.filter-options-sorting {

    display: flex;
    justify-content: flex-start;
}

.filter-options a {
    font-family: Open Sans;
    font-size: 16px;
    margin-left: 850px;
    padding-top: 5px;

}
.filter-options-sorting  select {
    padding: 0px;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
}
.filter-options select {
    padding: 5px;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
    font-family: Montserrat;
}

.product-card p {
    font-size: 16px;
    color: #333;
    font-family: Open Sans;
}

.view-collection {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #F9F9F9;
    color: #2A254B;
    font-size: 16px;
    font-family: Open Sans;
    border: none;
    cursor: pointer;
}

.join-club {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #FFF;
}

.join-club .join-club-image {
    width: 100%;
    height: 400px;
    background-image: url('img/join-background.jpg');
    background-size: cover;
    background-position: center;
}

.join-club .join-club-text {
    width: 85%;
    margin-top: 75px;
    margin-left: 35px;
}

.join-club p {
    margin: 0;
}

.join-club button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 150px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2A254B;
    font-family: Open Sans;
    font-size: 14px;
    color: #fff;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content .map img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #2A254B;
}

.social-media a {
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.facebook-icon {
    background-image: url("img/logo--facebook.svg");
}

.twitter-icon {
    background-image: url("img/logo--twitter.svg");
}

.linkedin-icon {
    background-image: url("img/logo--linkedin.svg");
}

.instagram-icon {
    background-image: url("img/logo--instagram.svg");
}

.pinterest-icon {
    background-image: url("img/logo--pinterest.svg");
}

footer p {
    text-align: left;
    padding: 10px;
    background-color: #2A254B;
    color: #fff;
    margin-right: 1050px;
}
