body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
color: #000;
text-decoration: none;
}

.explore-btn {
position: relative;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.arrow {
    content: '';
    display: inline-block;
    margin-left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #0F8277;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0F8277;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0F8277;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.dropdown-content h4 {
    margin: 8px 16px;
    color: #555;
}


.search-container input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: -10px; 
}



.search-container button img {
    width: 16px;
    height: 16px;
}

.courses, .corporate-training, .login, .signup {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}
.signup {
    background-color: #0F8277;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

.hero {
    display: flex;
justify-content: space-between;
align-items: center;
padding: 100px 20px;
    background-color: #DBF3ED;
}

.hero-content {
    max-width: 50%;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
	
.start-learning-btn, .learn-more-btn {
    margin: 20px 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #0F8277;
    color: #fff;
    border-radius: 4px;
}

.learn-more-btn {
    background-color: #00796b;
}

.hero-image img {
    max-width: 100%;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #0F8277;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.start-learning-btn {
    background-color: #0F8277;
    color: white;
}

.learn-more-btn {
    background-color: white;
    color: #0F8277;
    border: 1px solid #0F8277;
}

.programs {
    padding: 20px;
    text-align: left;
}
.programs h2 {
    font-size: 40px;
}
.programs h3 {
    font-size: 24px;
}
.programs p {
    font-size: 20px;
}
.program-cards {
    display: flex;
    justify-content: space-around;
}

.program-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.program-card img {
    max-width: 100%;
}

.popular-courses {
    padding: 20px;
    text-align: left;
}
.popular-courses h2 {
    font-size: 40px;
}
.popular-courses p {
    font-size: 20px;
}
.course-cards {
    display: flex;
    justify-content: space-around;
}

.course-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
}
.course-card h3 {
    font-size: 24px;
}
.course-card img {
    max-width: 100%;
}

.featured-topics {
    padding: 20px;
    text-align: left;
}
.featured-topics h2 {
    font-size: 40px;
}

.topics {
    display: flex;
    justify-content: space-around;
}

.topic-category {
    width: 22%;
}


section {
    padding: 20px;
    text-align: center;
}

.partners, .business-solution {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 40px 20px;
}

.logo-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
justify-content: space-around;
}

.logo-row img {
    max-width: 100px;
    height: auto;
}

.partners {
    background-color: #DBF3ED;
    padding: 20px 0;
text-aling:center;
}

.partners h2 {
    font-size: 40px;
}

.partners img {
    max-width: 100px;
    margin: 10px;
}

.pricing {
    background-color: #e0f7fa;
    padding: 40px 0;
    text-align: center;
}

.pricing h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.plan {
    display: inline-block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    vertical-align: top;
}

.plan h3 {
    margin-top: 0;
}

.plan .price {
    font-size: 1.5em;
    color: #333;
}

.plan button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.plan button:hover {
    background-color: #45a049;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    padding: 5px 0;
    border-top: 1px solid #ddd;
}


.business-content {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin: 20px 0;
}

.business-logos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.business-logo-row {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.business-logo-row img {
    max-width: 100px;
    height: auto;
}

.contact-form {
    background-color: #DBF3ED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
font-family:Quicksand;
}

.contact-form h2 {
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 20px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 22px;
    color: #000;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    width: 35%;
    padding: 10px;
    background-color: #00897b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    justify-content: left;
    align-items: left;
}

.contact-form button:hover {
    background-color: #00695c;
}
section.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('img/reg.png'); 
    background-size: cover;
    background-position: center;
}


.pricing-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #DBF3ED;
}

.pricing-section h2 {
    font-size:40px;
    margin-bottom: 20px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #d6e1e1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
    max-width: 300px;

}

.card.featured {
    background-color: #0F8277;
    color: #ffffff;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
font-family:Quicksand;
}

.card p {
    font-size: 14px;
    margin-bottom: 20px;
font-family:Quicksand;
}

.card .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card .price span {
    font-size: 14px;
    font-weight: normal;
}

.card button {
    background-color: #04736d;
    color: #ffffff;
    border: 1px solid #d6e1e1;
    border-radius: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 14px;
}

.card button:hover {
    background-color: #035b56;
}

.card hr {
    border: 0;
    border-top: 1px solid #d6e1e1;
    margin: 20px 0;
}

.card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.card ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.card ul li .icon {
    margin-right: 10px;
    color: #04736d;
}

.card.featured ul li .icon {
    color: #ffffff;
}

.photos-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.photos-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.small-photo {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.large-photo {
    width: 100%;
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .dropdown-content hr {
    margin: 10px 0;
}

header .dropdown-content h3 {
    margin: 10px 0;
}

header .dropdown-content a:hover {
    background-color: #ddd;
}

header .dropdown:hover .dropdown-content {
    display: block;
}

#featured-topics {
    text-align: left;
}

#featured-topics h1 {
    font-size: 40px;
    margin-bottom: 1.5rem;
font-family:Quicksand;
}

.category {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin: 1%;
}

.category h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 1rem;
font-family:Quicksand;
}

.category ul {
    list-style: none;
    padding: 0;
}

.category ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.category ul li a {
    color: #0F8277;
    text-decoration: none;
    font-weight: bold;
font-family:Quicksand;
    font-size: 20px;
}

.category ul li span {
    display: block;
    color: #666666;
    font-size: 16px;
font-family:Quicksand;
}

#more-topics {
    text-align: center;
    margin-top: 2rem;
}

#more-topics a {
    color: #0F8277;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
font-family:Quicksand;
}


    background-color: #f9f9f9;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-left {
    text-align: left;
}

.footer-left h2 {
    margin-top: 50px;
    font-size: 1.5em;
}

.footer-left p {
    margin: 5px 0 20px;
    color: #666;
}

.footer-right {
    text-align: right;
}

.footer-right .social-icons {
    margin-bottom: 10px;
}

.footer-right .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-right .social-icons img {
    width: 24px;
    height: 24px;
}

.footer-right p {
    margin: 0;
    color: #666;
    font-size: 0.9em;
}